.page {
  background-color: black;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 33px;
}

.page__section {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 880px;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 320px) {
  .page__section {
    margin: 0;
    max-width: 100%;
  }

  .page {
    font-size: 24px;
  }
}
